
        body{
            padding: 0px;
            margin: 0px;
        }
        .container2 {
            display: flex;
            /* padding-top: 12px; */
            padding-bottom: 12px;
            padding-right: 16px;
            padding-left: 16px;
            border-bottom: rgba(236,72,153) solid 4px;
        }

        .logo {
            padding-top: 10px;
            display: flex;
            height: 57px;
            width: 47px;
        }
        .titel{
            color: rgba(30,64,175);
            padding-top: 24px;
            padding-left: 15px;
            width: 226px;
            font-family: 'Lato', sans-serif;
            font-size: 1.125rem;
            /* line-height: 1.75rem; */
        }

        .navbar {
            padding-top: 10px;
            /* background-color: hotpink; */
            float: right;
            padding-right: 48px;
            padding-left: 685px;
            display: flex;
        }

        .menu {
            margin: 12px;

            font-family: 'Lato', sans-serif;
            font-size: 1.125rem;
            line-height: 1.75rem;
            text-decoration: none;
            color: green;
        }
        .menu:hover{
          /* padding: 10px; */
          color: #1e5991;
          background-color: #D7E8FE;
          border-radius: 5px;
        }

     
        

/* SLIDER */




* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 1125px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #60a5fa;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}





/* contant */




.contant{
    margin-top: 90px;
    display: flex;
    padding-left: 100px;
}
.block{
    margin: 20px;
    
    /* height: 200px;
    width: 200px; */
    /* background-color: aqua; */
}
#b1{
    border-radius: 10px;
height: 364px;
width: 547px;
}
#b2{
    font-family: 'Lato', sans-serif;
    width: 900px;
    padding-top: 75px;
    font-size: 1.5rem;
    line-height: 2rem;

}






/* .contant2 */




.block1{
   
margin: 10px;
    
    /* height: 200px;
    width: 200px; */
    /* background-color: aqua; */
    margin: 10px;

    font-family: 'Lato', sans-serif;

font-size: 1.5rem;
line-height: 2rem;
}


.contant2{
    background-color: #E0E7FF;
  padding-top: 45px;
    margin-top: 70px;
    display: flex;
   
}

#b3{
border-radius: 10px;
height: 255px;
width: 797px;
object-fit: cover;
/* margin-left: 10px; */
margin:10px ;




}
#b4{
    margin: 10px;
    border-radius: 10px;
    height: 255px;
    object-fit: cover;
    width: 797px;
}





/* contan3 */

.contant3{
margin-top: 130px;
display: flex;
font-family: 'Lato', sans-serif;
font-size: 1.5rem;
line-height: 2rem;
}
#b5{
    
    /* background-color:palevioletred; */
height: 300px;
width: 1000px;
}
#b6{
    margin-top: 76px;
    border-radius: 10px;
    /* background-color: aqua; */
    height: 300px;
    width: 550px;
}




/* contant4-5 */



.contant4{
margin-top: 150px;
display: flex;
font-family: 'Lato', sans-serif;
font-size: 1.5rem;
line-height: 2rem;
}
#b7{
    /* background-color:palevioletred; */
    
    height: 300px;
    width: 1000px;
}



/* contant 4-5 button */

.btn{

  color: white;
  font-family: 'Lato', sans-serif;
  height: 45px;
  width: 244px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  border-radius: 50px;
  border-color: rgba(124,58,237);
  margin-top: 30px;
  margin-left:90px;
  background-image: linear-gradient(to right, #60a5fa , #4338ca);
}



#b8{
   
    border-radius: 10px;
    /* background-color: aqua; */
    height: 300px;
    width: 550px;
}


#b9{
  /* background-color:palevioletred; */
  
  height: 380px;
  width: 1000px;
}


#b10{
   margin-left: 100px;
  border-radius: 10px;
  /* background-color: aqua; */
  height: 300px;
  width: 550px;
}



/* footer*/

.IamFooter{
  padding: 24px;
  margin-top: 50px;
  border-top: rgba(236,72,153) solid 4px;
  height: 290px;
  display: flex;
  /* background-color: violet; */
  font-family: 'Lato', sans-serif;
}

#fimage{
  height: 47px;
  width: 47px;
  margin-top: 8px;
    margin-right: 14px;
}

#h3hover:hover{
  color: black;
}

.parasetting{
  margin: 0;
  padding: 0;
}

.f1{
  display: flex;
  margin-top: 40px;
  margin-left: 70px;
}
.f2{
margin: 30px;
margin-left: 230px;
}
.f3{
  margin: 30px;
  margin-left: 230px;
}
.f4{
  margin: 30px;
  margin-left: 230px;
}







/* footerBanner */




.footerBanner{
  
  display: flex;
  background-color: #3453B7;
  height: 59px;
}


.social{
  /* margin-left: ; */
  margin-left: 20px;
  margin-top: 13px;
  height: 30px;
  /* background-color: tomato; */
  display: flex;
  float: left;
}
#items{
  margin-top: 10px;
  margin-left: 55%;
}